@import "styles/main";

.container {
	@include fullWidthModule;
}

.container :global {
	--swiper-theme-color: var(--theme-background);

	.swiper {
		.swiper-button {
			&-next,
			&-prev {
				overflow: hidden;
				width: 0;
				height: 0;
				background-color: $primaryColor;
				border-radius: 50%;
				color: $white;

				@include laptop {
					width: 23px;
					height: 23px;
				}

				@include desktop {
					width: 40px;
					height: 40px;
				}

				&::before,
				&::after {
					@include laptop {
						font-size: 10px;
					}

					@include desktop {
						font-size: 13px;
					}
				}
			}

			&-next {
				@include laptop {
					right: 5px;
				}

				@include desktop {
					right: 10px;
				}
			}

			&-prev {
				@include laptop {
					left: 5px;
				}

				@include desktop {
					left: 10px;
				}
			}
		}
	}

	.swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		background-color: $paginationEmpty;
	}

	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		background-color: $primaryColor;
	}
}
