@import "styles/main";

.loadingContainer {
	display: grid;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	margin: auto;
	justify-items: center;
}

.loadingHeader {
	font-size: 40px;
	font-weight: 700;
	grid-area: 1/1/2/2;
}

.image {
	width: 100%;
}
