@import "styles/main";

.container {
	@include fullWidthModule;

	margin-top: 0;

	@include tablet {
		margin-top: 50px;
	}

	@include desktop {
		margin-top: 130px;
	}
}

.header {
	position: absolute;
	left: 30px;
	display: none;
	color: $primaryColor;
	font-size: 25px;
	font-weight: 700;
	line-height: 35px;

	@include tablet {
		display: block;
	}
}

.container :global {
	--swiper-theme-color: var(--theme-background);

	.swiper {
		padding-block: 69px;
		padding-inline: 30px;

		.swiper-button {
			&-next,
			&-prev {
				display: none;
				overflow: hidden;
				width: 40px;
				height: 40px;
				background-color: $primaryColor;
				border-radius: 50%;
				color: $white;

				@include tablet {
					display: flex;
				}

				&::before,
				&::after {
					font-size: 13px;
				}
			}

			&-next {
				top: 22px;
				right: 141px;
			}

			&-prev {
				top: 22px;
				right: 190px;
				left: auto;
			}
		}
	}

	.swiper-slide {
		width: 235px;

		@include tablet {
			width: 285px;
		}

		@include desktop {
			width: 527px;
		}
	}
}
