@import "styles/main";

.container {
	@include fullWidthModule;

	display: flex;
	overflow: hidden;
	max-width: 760px;
	flex-direction: column;
	justify-content: center;
	padding: 15px;
	margin: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@include tablet {
		padding: 32px;
	}

	&.center {
		justify-content: center;
		margin-inline: auto;
		text-align: center;
	}
}

.header {
	width: 100%;
	margin-bottom: 20px;
	color: $primaryColor;
	font-size: 40px;
	font-weight: 700;
	line-height: 40px;
	text-transform: uppercase;

	@include tablet {
		margin-bottom: 35px;
	}

	@include desktop {
		margin-bottom: 41px;
	}
}

.body {
	margin-top: 0;
	margin-bottom: 45px;
}

.CTAcontainer {
	display: flex;
	width: 100%;
	column-gap: $gutterWidth;

	&.left {
		justify-content: start;
	}

	&.center {
		justify-content: center;
	}

	@include tablet {
		width: 402px;
	}

	@include desktop {
		width: 406px;
	}
}

.outerCTAContainer {
	display: flex;
	width: 100%;
}
