@import "styles/main";

.container {
	width: 100%;
}

.button {
	width: 100%;
	min-width: 90px;
	height: 40px;
	border: 2px solid $primaryColor;
	border-radius: 27px;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0.2em;
	line-height: 20px;

	&.primary {
		background-color: $primaryColor;
		color: white;
	}

	&.white {
		background-color: white;
		color: $primaryColor;
	}

	@include tablet {
		width: 193px;
		height: 40px;
	}
}
