@import "styles/main";

$mobilePadding: 20px;
$primaryColour: #b100ff;
$bgColour: #f2f2f2;
$fontfamily: "Ideal Sans", arial, sans-serif;

.container {
	@include fullWidthModule;

	display: flex;
	overflow: hidden;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	padding: 82px $mobilePadding;

	@include tablet {
		padding: 105px 92px;
	}

	@include desktop {
		padding: 105px 110px;
	}

	.nav {
		display: flex;
		width: calc(100% + $mobilePadding * 2);
		flex-flow: row nowrap;
		align-items: center;
		justify-content: flex-start;

		@include tablet {
			width: 100%;
			justify-content: center;
		}

		.items {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: flex-start;
			padding: 0;
			padding: 0 20px;
			margin: 0;
			border-radius: 0;
			gap: 10px;
			list-style-type: none;
			overflow-x: auto;

			@include tablet {
				justify-content: center;
				padding: 0;
				background-color: $bgColour;
				border-radius: 100px;
			}

			.item {
				border: 2px solid transparent;
				background-color: $bgColour;
				border-radius: 100px;
				transition: all 0.2s ease-in-out;
				transition-property: background-color border-color;

				@include tablet {
					background-color: transparent;
				}

				&.active {
					border-color: $primaryColour;
					background-color: $primaryColour;
					color: $white;
				}

				&:hover:not(.active) {
					border-color: $primaryColour;

					.button {
						color: $primaryColour;
					}
				}

				.button {
					@include bodyFont(14px);

					padding: 12px 32px;
					border: none;
					background: none;
					color: inherit;
					cursor: pointer;
					font-family: $fontfamily;
					outline: inherit;
					text-align: center;
					text-transform: uppercase;
					transition: color 0.2s ease-in-out;
					white-space: nowrap;
				}
			}
		}
	}

	.content {
		display: flex;
		width: 100%;
		max-width: 800px;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: center;
		margin-top: 44px;

		@include tablet {
			margin-top: 110px;
		}

		.title {
			@include standfirstText(40px);

			margin-bottom: 32px;
			color: $primaryColour;
			font-family: $fontfamily;
			text-align: left;
			text-transform: uppercase;

			@include tablet {
				margin-bottom: 42px;
				text-align: center;
			}
		}

		.description {
			@include bodyFont(25px);

			font-family: $fontfamily;
			text-align: left;

			@include tablet {
				text-align: center;
			}
		}
	}
}
