@import "styles/main";
@import "../BlogCard/BlogCard.module.scss";

.container {
	color: inherit;

	@include contentWidthModule;

	padding-block: 50px !important;
}

.gridListing {
	margin-bottom: 44px;

	@include tablet {
		display: grid;
		grid-gap: 16px;
		grid-template-columns: repeat(2, 1fr);
	}

	&.three {
		@include desktop {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&.four {
		@include desktop {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&.scroll {
		display: flex;
		overflow: scroll;

		&::-webkit-scrollbar {
			display: none;
		}

		@include desktop {
			&.four {
				display: grid;
				grid-gap: 16px;
				grid-template-columns: repeat(4, 1fr);
			}

			&.three {
				display: grid;
				grid-gap: 16px;
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}

.loadMore {
	display: block;
	width: 100%;
	padding: 4px 0;
	border: 1px solid $primaryColor;
	background: $primaryColor;
	border-radius: 27px;
	color: $white;
	cursor: pointer;
	font-size: 14px !important;
	font-weight: 200;
	letter-spacing: 0.2rem;
	text-transform: uppercase;

	@include subheaderFont;

	@include tablet {
		width: 527px;
		margin: auto;
	}
}
