@import "styles/main";

.catContainer {
	margin-bottom: 20px;

	p {
		display: inline-block;
		padding: 0 21px;
		margin-bottom: 0;
		background: $primaryColor;
		border-radius: 12px;
		color: $white;
		font-size: 10px !important;
		line-height: 21px !important;
		text-transform: uppercase;

		@include subheaderFont;
	}
}

.blogContainer {
	margin-bottom: 40px;
}

.blogTitle {
	@include subheaderFont;

	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
}

.imgContainer {
	position: relative;
	width: 100%;
	height: 191px;
	margin-bottom: 20px;

	@include tablet {
		height: 231px;
	}

	@include desktop {
		height: 320px;
	}

	:global(.GridModuleVariation2_scroll__VEzYq) & {
		width: 235px;
		margin-right: 15px;

		@include tablet {
			width: 285px;
		}

		@include desktop {
			width: 100%;
		}
	}

	.img {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 24px;
		object-fit: cover;
	}
}

.excerpt {
	display: none;
}
